.carouselSkeleton {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 600px;
    /* Adjust as needed */
}

.mainImageSkeleton {
    width: 100%;
    height: 350px;
    /* Adjust as needed */
    background-color: #f0f0f0;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.mainImageSkeleton::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(240, 240, 240, 0.4), transparent);
    animation: loading 1.5s infinite;
}

.thumbnailContainerSkeleton {
    display: flex;
    gap: 10px;
    overflow: hidden;
}

.thumbnailSkeleton {
    width: 85px;
    /* Adjust as needed */
    height: 85px;
    /* Adjust as needed */
    background-color: #f0f0f0;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.thumbnailSkeleton::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(240, 240, 240, 0.4), transparent);
    animation: loading 1.5s infinite;
}

@keyframes loading {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

@media screen and (max-width: 1023px) {
    .mainImageSkeleton {
        height: 250px;
    }
}