.container {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.forgotPassword {
    color: #2a58da;
    font-size: var(--font-xsm);
    cursor: pointer;
}

.btn {
    font-weight: 600;
    height: 50px;
}

.createAccount {
    font-size: var(--font-sm);
    text-align: center;
    margin-top: 5px;
}

.createAccount span {
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 1023px) {
    .container {
        gap: 15px;
    }
}