.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.titleArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.titleArea h3 {
    font-weight: 500;
}

.titleArea p {
    opacity: 0.7;
    font-size: var(--font-sm);
}

.sendBtn,
.titleArea {
    margin-bottom: 15px;
}

.padlock {
    border-radius: 50%;
    background-color: var(--primary-color-o);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 65px;
    height: 65px;
}

.padlock img {
    filter: invert(21%) sepia(69%) saturate(2805%) hue-rotate(218deg) brightness(94%) contrast(95%);
}