.container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 850px;
    margin: 0 auto;

    @media screen and (max-width: 1023px) {
        margin: 0;
        width: auto;
    }
}

.container h1 {
    font-size: var(--font-xlg);
    margin-top: 5px;
}

.errorState {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 80px 0;
}

.errorState p {
    opacity: 0.7;
    font-size: var(--font-sm);
}