.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.title {
    font-size: 2em;
    margin-bottom: 10px;
}

.message {
    font-size: 1.2em;
}