.container,
.invert {
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    border: 1.5px solid var(--border-color);
}

.container:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.container {
    background-color: var(--primary-color);
    color: white;
}

.invert {
    background-color: transparent;
    color: var(--text-color);
}

.container:hover {
    @media screen and (min-width: 1024px) {
        filter: brightness(0.9);
        transform: scale(1.04);
    }
}

.container img {
    margin-right: 6px;

    @media screen and (max-width: 1023px) {
        width: 15px;
        height: 15px;
    }
}