.container {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    width: fit-content;
    user-select: none;
}

.container span {
    opacity: 0.7;
    font-size: var(--font-sm);
}