.show {
    animation: show 0.1s linear forwards;
    background-color: rgba(0, 0, 0, 0.5);
}

.hide {
    animation: hide 0.1s linear forwards;
}

@keyframes show {
    from {
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.0);
    }

    to {
        opacity: 1;
    }
}

@keyframes hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fade-in;
    animation-timing-function: linear;
    position: fixed;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeOut {
    animation-name: fade-out;
    animation-timing-function: linear;
    position: fixed;
}

.popIn {
    animation-name: pop-in;
    animation-timing-function: linear;
    position: fixed;
}

.popOut {
    animation-name: pop-out;
    animation-timing-function: linear;
    position: fixed;
}

@keyframes pop-out {
    from {
        opacity: 1;
        top: 0;
    }

    to {
        opacity: 0;
        top: 100%;
    }
}

@keyframes pop-in {
    from {
        opacity: 0;
        top: 100%;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

@media screen and (min-width: 1024px) {
    @keyframes pop-out {
        from {
            opacity: 1;
            top: 2.5%;
        }

        to {
            opacity: 0;
            top: 100%;
        }
    }

    @keyframes pop-in {
        from {
            opacity: 0;
            top: 100%;
        }

        to {
            opacity: 1;
            top: 2.5%;
        }
    }
}

@keyframes scale-in {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

.scaleIn {
    animation-name: scale-in;
    animation-timing-function: linear;
    position: fixed;
}

@keyframes scale-out {
    from {
        opacity: 1;
        transform: scale(1)
    }

    to {
        opacity: 0;
        transform: scale(0.5);
    }
}

.scaleOut {
    animation-name: scale-out;
    animation-timing-function: linear;
    position: fixed;
}