.background {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container,
.dummyContainer {
    background-color: var(--background-color);
    width: 470px;
    min-height: 200px;
    height: auto;
    max-height: 95%;
    border-radius: 15px;
    animation-fill-mode: forwards;
    overflow-y: auto;
    overflow-x: hidden;

    @media screen and (max-width: 1023px) {
        width: 95%;
        top: 4%;
    }
}

.dummyContainer {
    background-color: transparent;
    position: relative;
    z-index: 3;
    pointer-events: none;
}

.head {
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    height: 75px;
    padding: 0 25px;
    animation: showHead 0.1s linear forwards;
    border-bottom: 0.5px solid var(--border-color);
    font-size: calc(var(--font-lg) - 2px);
}

.closeBtn {
    padding: 7px;
    border-radius: 5px;
    transition: .1s;
    cursor: pointer;
}

.closeBtn:hover {
    background-color: var(--border-color);
}

.backHead {
    position: initial !important;
}

.backgroundPrimary {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.backgroundInverted {
    background-color: var(--background-color);
    color: var(--text-color);
}

@keyframes showHead {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}