.container {
    position: sticky;
    top: 0;
    left: 0;
    height: 70px;
    box-shadow: 1px 2px 18px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    z-index: 2;
    user-select: none;
    background-color: var(--background-color);
}

.subContainer {
    width: 100%;
    max-width: var(--max-width);
    padding: 0 var(--padding);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actionGroup {
    display: flex;
    gap: 8px;
    align-items: center;
}

.userWrapper {
    position: relative;
    height: fit-content;
}

.user {
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    padding: 8px 12px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.user:hover {
    background-color: var(--border-color);
    color: var(--primary-color);
}

.user:hover img {
    filter: invert(24%) sepia(82%) saturate(2171%) hue-rotate(214deg) brightness(93%) contrast(96%);
}

.user span {
    opacity: 0.7;
    font-size: var(--font-sm);
}

.dropdownMenu {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    min-width: 180px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    animation: show 0.1s linear forwards;
}

.dropdownItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--text-color);
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    background: none;
    border: none;
    font-size: var(--font-sm);
    width: 100%;
    text-align: left;
}

.dropdownItem:hover {
    background-color: var(--primary-color-o);
    color: var(--white-color);
}

.dropdownItem:hover img {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.closeMobile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 1024px) {
        display: none;
    }
}

.closeMobile img {
    cursor: pointer;
}

@media (max-width: 1023px) {
    .dropdownMenu {
        position: fixed;
        top: auto;
        top: 68px;
        left: 0;
        right: 0;
        width: 100%;
        box-shadow: none;
    }

    .announceBtn button {
        padding: 5px 9px;
        font-size: var(--font-sm);
    }

    .actionGroup {
        gap: 5px;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}