.content {
    background-color: var(--card-background);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media screen and (max-width: 1023px) {
        padding: 0;
        box-shadow: none;
        background-color: transparent;
    }
}

.group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.group h2 {
    font-size: var(--font-lg);
    font-weight: 600;
}

.inputGroup,
.btnGroup {
    display: flex;
    gap: 15px;

    @media screen and (max-width: 1023px) {
        gap: 10px;
    }
}

.btnGroup {
    margin-top: 20px;
}

.btnGroup button {
    width: 100%;
    height: 50px;
}

.inputGroupFill {
    width: 100%;

    @media screen and (max-width: 1023px) {
        width: auto;
    }
}