.card {
    display: flex;
    background-color: var(--card-background);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 250px;
}

.imageArea {
    width: 370px;
    height: 100%;
    position: relative;
    flex-shrink: 0;
}

.imageArea img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.infoArea {
    padding: 30px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titleArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.title,
.price {
    font-size: var(--font-lg);
}

.price {
    color: var(--price-color);
    font-weight: bold;
}

.subInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: var(--font-sm);
}

.city,
.dateArea {
    display: flex;
    align-items: center;
    gap: 5px;
}

.city {
    opacity: 0.9;
}

.dateArea {
    opacity: 0.7;
}

.details {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.details span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.resource {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: var(--font-sm);
    min-width: 0;
    min-height: 25px;
    flex: 1;
}

.dot {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    flex-shrink: 0;
}

.green {
    background-color: #22c55e;
}

.red {
    background-color: #f97316;
}

.purple {
    background-color: #a855f7;
}

.actions {
    display: flex;
    gap: 10px;
}

.btnGoToVehicle,
.edit,
.delete {
    border: none !important;
}

.btnGoToVehicle {
    background-color: rgba(26, 32, 44, 0.059) !important;
    color: #686868 !important;
}

.btnGoToVehicle img {
    filter: invert(41%) sepia(3%) saturate(218%) hue-rotate(85deg) brightness(98%) contrast(95%);
}

.edit {
    background-color: var(--primary-color-o) !important;
    color: var(--primary-color) !important;
}

.edit img {
    filter: invert(28%) sepia(48%) saturate(6338%) hue-rotate(219deg) brightness(88%) contrast(90%);
}

.delete {
    background-color: rgba(255, 0, 0, 0.115) !important;
    color: #c42323 !important;
}

.delete img {
    filter: invert(24%) sepia(92%) saturate(2013%) hue-rotate(343deg) brightness(80%) contrast(101%);
}

@media screen and (max-width: 1023px) {
    .card {
        flex-direction: column;
        height: 480px;
        width: auto;
    }

    .imageArea {
        width: auto;
        height: 170px;
    }

    .infoArea {
        padding: 15px;
        height: 100%;
    }

    .resource {
        flex: none;
    }

    .actions {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    .actions button {
        width: 100%;
    }
}