.container {
    display: flex;
    flex-direction: column;
    height: 455px;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    cursor: pointer;
    transition: .2s;
    background-color: var(--card-background);

    @media screen and (max-width: 1023px) {
        min-width: 100%;
    }
}

.container:hover {
    @media screen and (min-width: 1024px) {
        transform: scale(1.05);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    }
}

.container:hover .imageArea img {
    @media screen and (min-width: 1024px) {
        transform: scale(1.08);
    }
}

.imageArea {
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    font-weight: bold;

    @media screen and (max-width: 1023px) {
        height: 230px;
    }
}

.imageArea img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
    transition: .3s;
}

.imageArea .error {
    color: var(--color-danger);
}

.imageArea label {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 6px 12px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #16a34a;
    color: white;
    font-size: var(--font-sm);

    @media screen and (max-width: 1023px) {
        font-size: var(--font-default);
    }
}

.vehicleName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
}

.vehicleName h3 {
    flex: 0.95;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
}

.descriptionArea {
    padding: 25px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resources {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 12px 24px;
    width: 100%;
    margin: 8px 0 5px 0;
}

.resource {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: var(--font-sm);
    min-width: 0;
    min-height: 25px;
    flex: none;
}

.bottomResources {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.city {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: var(--font-sm);
    flex: 0.8;
}

.city>span {
    opacity: 0.7;
}

.type,
.year {
    font-size: var(--font-xsm);
    color: var(--primary-color);
    border-radius: 20px;
    padding: 5px 11px;

    @media screen and (max-width: 1023px) {
        font-size: var(--font-sm);
    }
}

.type {
    font-weight: 500;
    background-color: var(--primary-color-o);
}

.year {
    font-weight: 600;
    background-color: var(--primary-color-o-2);
}