.skeletonGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.skeletonCard {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    height: 350px;
    /* Adjust height as needed */
    display: flex;
    flex-direction: column;
}

.skeletonImageArea {
    width: 100%;
    height: 180px;
    background-color: #f0f0f0;
    position: relative;
    overflow: hidden;
}

.skeletonDescriptionArea {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

.skeletonLine {
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 4px;
    width: 70%;
}

.skeletonLine:nth-child(2) {
    width: 90%;
}

.skeletonLine:nth-child(3) {
    width: 50%;
}

/* Desktop styles */
@media screen and (min-width: 1024px) {
    .skeletonGrid {
        grid-template-columns: 1fr;
        /* Adjust as needed */
        width: 100%;
    }

    .skeletonCard {
        flex-direction: row;
        /* Horizontal layout for desktop */
        height: 250px;
        /* Match UserVehicleCard desktop height */
    }

    .skeletonImageArea {
        width: 370px;
        /* Match UserVehicleCard desktop width */
        height: 100%;
    }

    .skeletonDescriptionArea {
        padding: 30px 20px;
        /* Match UserVehicleCard desktop padding */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        /* Adjust grid for desktop content */
        gap: 15px;
        flex-grow: 1;
        align-items: center;
    }

    .skeletonLine {
        height: 24px;
        width: 90%;
    }

    .skeletonLine:nth-child(1) {
        grid-column: span 2;
        /* Title takes more space */
        height: 30px;
        /* Larger title */
    }

    .skeletonLine:nth-child(2) {
        width: 50%;
        /* Price */
        height: 30px;
    }

    .skeletonLine:nth-child(3) {
        width: 100%;
        grid-column: span 3;
        /* Actions take full width */
        height: 40px;
    }

    .skeletonLine:nth-child(4),
    .skeletonLine:nth-child(5),
    .skeletonLine:nth-child(6),
    .skeletonLine:nth-child(7),
    .skeletonLine:nth-child(8),
    .skeletonLine:nth-child(9) {
        height: 20px;
        width: 100px;
        /* Resources */
    }
}

.loading {
    position: relative;
    overflow: hidden;
}

.loading::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(240, 240, 240, 0.4), transparent);
    animation: loading 1.5s infinite;
}

@keyframes loading {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}