.container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 30px 0;
}

@media screen and (max-width: 1023px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }
}

.titleArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;
}

.titleArea p {
    opacity: 0.7;
}

.controlsArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.vehicleCount {
    opacity: 0.7;
}

.orderBy {
    display: flex;
    align-items: center;
    gap: 10px;
}

.orderBy span {
    font-size: var(--font-xsm);
    white-space: nowrap;
}

.vehiclesList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

.noVehiclesFound,
.errorState {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 30px;
    text-align: center;
    color: var(--text-color);
    background-color: var(--card-background);
    border-radius: 8px;
    gap: 15px;
}

.noVehiclesFound h3,
.errorState h3 {
    margin-bottom: 5px;
}

.noVehiclesFound p,
.errorState p {
    font-size: 1.1em;
    opacity: 0.8;
}

.errorState {
    color: var(--error-color);
}