.container {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.passwordGroup,
.locationGroup {
    display: flex;
    align-items: center;
    gap: 7px;
}

.locationGroup {
    flex-direction: row-reverse;
}

.passwordGroup input {
    width: 50%;
}

.locationGroup div:first-child {
    width: 40%;
}

.btn {
    font-weight: 600;
    height: 50px;
}

.hasAccount {
    font-size: var(--font-sm);
    text-align: center;
    margin-top: 5px;
}

.hasAccount span {
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 1023px) {
    .container {
        gap: 15px;
    }
}